<h2>ALL Publishers</h2>

{{#each model as |publisher|}}
  {{#link-to 'publishers.publisher' publisher}}
    <p>{{publisher.name}}</p>
  {{/link-to}}
{{/each}}

<hr>

{{#link-to 'publishers.new'}}Add NEW Publisher{{/link-to}}
