<h2>ALL Authors</h2>

{{#each model as |author|}}
  {{#link-to 'authors.author' author}}
    <p>{{author.name}}</p>
  {{/link-to}}
{{/each}}
<hr>

{{#link-to 'authors.new'}}Add NEW Author{{/link-to}}
